* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #2B283A
}

.navbar {
  height: 55px;
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.075em;
  gap: 10px;
}

.cards-list {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}

.card {
  width: 800px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-image {
  width: 200px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.card-info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.card-location-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  margin-bottom: 0px;
}

.location-text {
  font-weight: 100;
  letter-spacing: 0.17em;
  text-transform: uppercase;
}

.viewGoogleMapsLink-text {
  font-weight: 300;
  color: #918E9B;
}

.title-text {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: 700;
}

.date-text {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
}

.description-text {
  margin: 0px;
  font-size: 16px;
  font-weight: 100;
}